.description2 {
    padding-top: 0%;
    padding-right: 9%;
    padding-bottom: 0%;
    font-size: 35px;
    font-family: 'Unlock';
}
#map {
    height: 500px;
    border-style: solid;
    border-width: 8px;
    border-color: black;
    width:700px;
}
.about-text p {
    padding-right: 121px;
    font-size: 18px
}
.about-text h3 {
    padding-right: 121px;
}
.store-front-pic {
    border-style: solid;
    border-width:8px;
    border-color: rgb(0,0,0);
    width: 700px;
    height: 500px;

}
.carousel-inner{
    overflow: hidden;
}
.map {
}
.map-text h3 {
    padding-right: 10px;
}
.map-text table {
    padding-right: 10px;
}
.telephone-number {
    font-size: 18px;
}
.map-text p {
    padding-right: 10px;
}
.carousel-inner img {
    width: 700px;
    height: 455px;
}
