/*shop div style*/
.shop {
        padding: 50px 0px 50px 0px;}
.shop-flex {
        padding-left: 0px;
        padding-right: 0px;}
.shop-contents p2 {
    font-size: 18px
}
.shop-picture {
        padding-left: 0px;
        width: 650px;
        height: 450px;
        padding-top: 25px;}
/*Carousel picture for Shop & About Section*/
.carousel-inner img{
        height: 450px;
        width: 650px;}
/*about us div style*/
.about {
        padding: 40px 0px 40px 0px;
        height: 545px;}
}
.about-flex {
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
.about-flex {
    padding-top: 15px;
    padding-bottom: 25px;
}
.about-picture {
/*  padding-left: 0px;*/
    height: 450px;
    width: 600px;
    padding-right: 60px;
}
.about-contents p2 {
    font-size: 18px
}
.about-contents {
    padding-left: 0px;
}
.btn {
    padding-left: 0px;
    padding-right: 0px;
}
.about-button {
    display: block;
    margin: 0 auto;
    width: 170px;
}
