/*shop div style*/
.shop {
    padding: 50px 10px 50px 10px;
}
.shop-flex {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding-left: 30px;
    padding-right: 10px;
}
.shop-flex {
    padding-top: 0px;
    padding-bottom: 10px;
}
.shop-contents p2 {
    font-size: 18px
}
.shop-picture {
    padding-left: 30px;
}

/*about us div style*/
.carousel-inner img{
    height: 425px;
    width: 550px;
.about {
    padding: 40px 0px 40px 0px;
}
.about-flex {
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
.about-flex {
    padding-top: 15px;
    padding-bottom: 25px;
}
.about-picture {
/*  padding-left: 0px;*/
    height: 425px;
    width: 550px;
    padding-right: 60px;
}
.about-contents p2 {
    font-size: 18px
}
.about-contents {
    padding-left: 0px;
}
.btn {
    padding-left: 0px;
    padding-right: 0px;
}
.about-button {
    display: block;
    margin: 0 auto;
    width: 170px;
}
