.description1 {
    padding-top: 0%;
    padding-left: 7%;
    padding-bottom: 0%;
    font-size: 30px;
    font-family: 'Unlock';
}

/*shop div style*/
.shop {
    padding: 50px 10px 50px 10px;
}
.shop-flex {
    /*display: flex;*/
    /*flex-direction: row;*/
    /*align-items: stretch;*/

}
.about-flex {
    font-size: 18px;
}
.about-picture {
    padding-top: 20px;
    padding-left: 0px;
    text-align: center;
}
@media screen and (min-width: 1024px) {
    .shop-flex {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    }
    .about-flex {
    font-size: 18px;
    display: flex;
    flex-direction: row-reverse;
    align-items: stretch;
    }
    .about-picture {
    padding-left: 0px;
    }
}
.shop-flex {
    padding-top: 0px;
    padding-bottom: 10px;
}
.shop-contents p2 {
    font-size: 18px
}
.shop-picture {
    padding-top: 12px;
    text-align: center;
}
/*Carousel picture for Shop & About Section*/
.carousel-inner img{
    height: 425px;
    width: 550px;
}
/*about us div style*/
.about {
    padding: 40px 0px 40px 0px;
}
.about-flex {

    padding-left: 20px;
    padding-right: 15px;
}
.about-flex {
    padding-top: 15px;
    padding-bottom: 25px;
}
.aboutimg{
    height: 425px;
    width: 550px;
}

.about-contents {
    padding-top: 10px;
    padding-left: 40px;
}
.btn {
    padding-left: 20px;
    padding-right: 20px;
}
.about-button {
    display: block;
    margin: 0 auto;
    width: 175px;
}

